---
import { Image, getImage } from 'astro:assets'

import Layout from '../layouts/Layout.astro'

import BrowserFrame from '../components/BrowserFrame.astro'
import TeamProfileAvatar from '../components/TeamProfileAvatar.astro'
// import ClockBox from '../components/ClockBox.astro'
import AlbumCarousel from '../components/AlbumCarousel.astro'
import HackOManiaLogo from '../components/HackOManiaLogo.astro'

import googleVenue from '../assets/sponsors/venue/google.png'
import rakutenVenue from '../assets/sponsors/venue/rakuten.png'

import govtech from '../assets/sponsors/govtech.png'
import spdigital from '../assets/sponsors/spd_logo.svg'
import ahrefs from '../assets/sponsors/ahrefs.png'
import zenika from '../assets/sponsors/zenika.png'

import cloud from '../assets/background/cloud.png'
import geekshacking from '../assets/geekshacking.png'
import team from '../assets/team.json'

const background = await getImage({ src: cloud })
const teamMembers = team.map(item => ({
  name: item.Name,
  profileImage: item['Profile Image'],
  role: `${item.Team} ${item.Role && item.Role.length > 0 ? item.Role : "Team Member"}`,
  links: {
    linkedin: item.LinkedIn,
    github: item.GitHub,
    twitter: item.Twitter
  }
}))
---

<Layout title="Hackomania 2024">
  <main class="space-y-20 container mx-auto pb-32">
    <section id="registration" class="flex flex-col h-screen items-center justify-center space-y-8 bg-no-repeat bg-cover bg-bottom" style={`background-image: url('${background.src}')`}>
      <div class="w-[300px] md:w-[600px]">
        <HackOManiaLogo />
      </div>

      <!-- <div class="flex space-x-4">
        <ClockBox>00</ClockBox>
        <ClockBox>00</ClockBox>
        <ClockBox>00</ClockBox>
        <ClockBox>00</ClockBox>
      </div> -->

      <div class="flex flex-col md:flex-row">
        <button type="button" class="text-white uppercase font-code bg-app-red hover:rose-800 font-medium rounded-lg text-sm px-4 py-2.5 me-2 mb-2 dark:hover:bg-rose-700 focus:outline-none">
          Registration coming soon!
        </button>
        <a href="//hackomania2019.geekshacking.com" target="_blank" type="button" class="uppercase font-code text-app-red font-semibold hover:text-rose-800 rounded-lg text-sm px-4 py-2.5 me-2 mb-2 focus:outline-none"> Visit our 2019 website!</a>
      </div>
    </section>

    <section id="about" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">HackOMania 2024</h2>
      </div>

      <p class="font-code">
        HackOMania is an annual hackathon bringing students and tech professionals together over 24 hours to tackle real world challenges. Each year, the GeeksHacking community ventures into
        unexplored realms to uncover boundless possibilities. For HackOMania 2024, we seek to Innovate for Tomorrow: Building a Resilient Future.
      </p>
    </section>

    <section id="sponsors" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">Sponsors</h2>
      </div>

      <BrowserFrame>
        <div class="p-4 md:p-6 lg:p-10 flex flex-col items-center justify-center gap-4">
          <div class="flex items-center justify-center flex-col p-4 md:p-8 lg:p-12">
            <h2 class="text-xl md:text-4xl lg:text-5xl font-semibold text-app-red pb-4 md:pb-12">Platinum Sponsors</h2>
            <Image src={govtech} alt="GovTech - Stack Community" class="object-contain" />
          </div>
          <div class="flex items-center justify-center flex-col p-4 md:p-8 lg:p-12">
            <h2 class="text-xl md:text-4xl lg:text-5xl font-semibold text-app-red pb-4 md:pb-12">Gold Sponsors</h2>
            <div class="flex items-center justify-center flex-col gap-4">
              <div class="flex-1">
                <Image src={spdigital} alt="SPDigital" class="h-[60px] md:h-[120px] lg:h-[140px] w-auto" />
              </div>
              <div class="flex-1">
                <Image src={ahrefs} alt="Ahrefs" class="h-[60px] md:h-[120px] lg:h-[140px] w-auto object-contain" />
              </div>
              <div class="flex-1 -mt-4">
                <Image src={zenika} alt="Zenika" class="h-[100px] md:h-[160px] lg:h-[140px] object-contain" />
              </div>
            </div>
          </div>
          <div class="flex items-center justify-center flex-col p-4 md:p-8 lg:p-12">
            <h2 class="text-xl md:text-4xl lg:text-5xl font-semibold text-app-red pb-4 md:pb-12 ">Venue sponsors</h2>
            <div class="flex items-center justify-center flex-col gap-8">
              <Image src={rakutenVenue} alt="AI Singapore" class="object-contain h-[60px] md:h-[120px] lg:h-[140px] w-auto" />
              <Image src={googleVenue} alt="Google" class="object-contain h-[60px] md:h-[120px] lg:h-[140px] w-auto" />
            </div>
          </div>
          </div>
      </BrowserFrame>
    </section>

    <section id="album" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">Album</h2>
      </div>

      <AlbumCarousel />
    </section>

    <section id="venue" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">Venue</h2>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="space-y-10">
          <h3 class="uppercase font-code font-semibold text-xl">Pre-event</h3>

          <div class="font-code text-lg space-y-2">
            <div class="flex justify-between">
              <span class="text-app-blue">Date:</span>
              <span class="text-right">23 March 2024</span>
            </div>

            <div class="flex justify-between">
              <span class="text-app-blue">Time:</span>
              <span class="text-right">1:00PM - 4:30PM</span>
            </div>

            <div class="flex justify-between">
              <span class="text-app-blue">Venue:</span>
              <span class="text-right">Google Developer Space</span>
            </div>
          </div>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8288719304883!2d103.79815071182185!3d1.2760468618006011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1b5462d8ef69%3A0xb8f399b9068aad7!2sGoogle%20Developers%20Space%2C%20Singapore!5e0!3m2!1sen!2ssg!4v1706754275234!5m2!1sen!2ssg"
            class="w-full h-[500px]"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="space-y-10">
          <h3 class="uppercase font-code font-semibold text-xl">Main event</h3>

          <div class="font-code text-lg space-y-2">
            <div class="flex justify-between">
              <span class="text-app-blue">Date:</span>
              <span class="text-right">6 - 7 April 2024</span>
            </div>

            <div class="flex justify-between">
              <span class="text-app-blue">Time:</span>
              <span class="text-right">11:30AM - 6:00PM</span>
            </div>

            <div class="flex justify-between">
              <span class="text-app-blue">Venue:</span>
              <span class="text-right">Rakuten Asia, CapitaGreen</span>
            </div>
          </div>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.819799045889!2d103.8477107128912!3d1.2818841987005645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19a42f7f2a83%3A0x3ff65bbf62f7e45a!2sRakuten%20Asia!5e0!3m2!1sen!2ssg!4v1703227080676!5m2!1sen!2ssg"
            class="w-full h-[500px]"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </section>

    <section id="team" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">Our team</h2>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-5">
        {teamMembers.map(member => (
          <TeamProfileAvatar name={member.name} role={member.role} profileImage={member.profileImage} links={member.links} />
        ))}
        </div>
    </section>

    <section id="geekshacking" class="space-y-6 flex flex-col md:flex-row gap-10">
      <Image src={geekshacking} alt="GeeksHacking" class="min-w-[300px] w-[400px] mx-auto object-contain" />

      <div class="space-y-6">
        <div class="border-l-8 border-solid border-l-app-red pl-6">
          <h2 class="text-4xl md:text-4xl text-app-purple font-code font-bold">GeeksHacking</h2>
        </div>

        <p class="font-code">
          GeeksHacking is a geeky community that seeks to Give back and Grow together. We organize events and workshops to help students and professionals alike to learn and grow together. HackOMania
          is one of our flagship events that we organize annually.
        </p>
      </div>
    </section>

    <section id="contact" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">Contact Us!</h2>
      </div>

      <p class="font-code">
        Click
        <a class="text-app-purple" href="https://t.me/+HlJIBuu9isA2ZWQ1"> here</a>
        to join GeeksHacking's Telegram channel!
      </p>

      <p class="font-code">
        For general enquiries
        <br />
        <br />
        Drop us and email at <a class="text-app-red" href="mailto:contact@geekshacking.com">contact@geekshacking.com</a> or contact us through our <a class="text-app-red" href="https://www.facebook.com/groups/geekshacking/">Facebook page</a>.
        <br />
        <br />
        For Sponsorship
        <br />
        <br />
        Please contact <a class="text-app-red" href="mailto:sponsor@geekshacking.com">sponsor@geekshacking.com</a> for sponsorship enquiries.
        <br />
        <br />
        <br />
        <br />
        View HackOMania 2019 <a class="text-app-purple" href="https://hackomania2019.geekshacking.com/"> here</a>.
        <br />
        View HackOMania 2018 <a class="text-app-purple" href="https://hackomania2018.geekshacking.com/"> here</a>.
      </p>
    </section>
  </main>
</Layout>
