---
import { Image, getImage } from 'astro:assets'

import Layout from '../layouts/Layout.astro'

import BrowserFrame from '../components/BrowserFrame.astro'
// import ClockBox from '../components/ClockBox.astro'
import AlbumCarousel from '../components/AlbumCarousel.astro'
import HackOManiaLogo from '../components/HackOManiaLogo.astro'

import googleVenue from '../assets/sponsors/venue/google.png'
import rakutenVenue from '../assets/sponsors/venue/rakuten.png'

import aisg from '../assets/sponsors/aisg.png'
import google from '../assets/sponsors/google.png'
import grab from '../assets/sponsors/grab.png'
import paypal from '../assets/sponsors/paypal.png'
import rakuten from '../assets/sponsors/rakuten.png'
import redbull from '../assets/sponsors/redbull.png'
import spdigital from '../assets/sponsors/spdigital.png'
import wanted from '../assets/sponsors/wanted.png'

import cloud from '../assets/background/cloud.png'
import geekshacking from '../assets/geekshacking.png'

const background = await getImage({ src: cloud })
---

<Layout title="Hackomania 2024">
  <main class="space-y-20 container mx-auto pb-32">

    <section id="registration" class="py-40 flex flex-col items-center space-y-8 bg-no-repeat bg-cover bg-bottom" style={`background-image: url('${background.src}')`}>
      <div class="w-[300px] md:w-[600px]">
        <HackOManiaLogo />
      </div>

      <!-- <div class="flex space-x-4">
        <ClockBox>00</ClockBox>
        <ClockBox>00</ClockBox>
        <ClockBox>00</ClockBox>
        <ClockBox>00</ClockBox>
      </div> -->

      <button type="button" class="text-white uppercase font-code bg-app-red hover:rose-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:hover:bg-rose-700 focus:outline-none">
        Registration coming soon!
      </button>
    </section>

    <section id="about" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">HackOMania 2024</h2>
      </div>

      <p class="font-code">
        HackOMania is an annual hackathon bringing students and tech professionals together over 24 hours to tackle real world challenges. Each year, the GeeksHacking community ventures into
        unexplored realms to uncover boundless possibilities. For HackOMania 2024, we seek to Innovate for Tomorrow: Building a Resilient Future.
      </p>
    </section>

    <section id="sponsors" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">Venue Sponsors</h2>
      </div>

      <BrowserFrame>
        <div class="p-10 grid grid-cols-1 md:grid-cols-1 place-items-center gap-10">
          <Image src={rakutenVenue} alt="AI Singapore" class="object-contain" />
          <Image src={googleVenue} alt="Google" class="object-contain" />
        </div>
      </BrowserFrame>
    </section>

    <section id="past-sponsers" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">Past Sponsors</h2>
      </div>

      <BrowserFrame>
        <div class="p-10 grid grid-cols-3 md:grid-cols-3 place-items-center gap-10">
          <Image src={aisg} alt="AI Singapore" class="object-contain" />
          <Image src={grab} alt="Grab" class="object-contain" />
          <Image src={rakuten} alt="Rakuten" class="object-contain" />
          <Image src={paypal} alt="PayPal" class="object-contain" />
          <Image src={spdigital} alt="SP Digital" class="object-contain" />
          <Image src={redbull} alt="Redbull" class="object-contain" />
          <Image src={wanted} alt="Wanted" class="object-contain" />
          <Image src={google} alt="Google" class="object-contain col-span-2" />
        </div>
      </BrowserFrame>
    </section>

    <section id="album" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">Album</h2>
      </div>

      <AlbumCarousel />
    </section>

    <section id="venue" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">Venue</h2>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.819799045889!2d103.8477107128912!3d1.2818841987005645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19a42f7f2a83%3A0x3ff65bbf62f7e45a!2sRakuten%20Asia!5e0!3m2!1sen!2ssg!4v1703227080676!5m2!1sen!2ssg"
            class="w-full h-[500px]"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="font-code text-lg md:text-xl lg:text-3xl space-y-6">
          <div class="flex justify-between">
            <span class="text-app-blue">Date:</span>
            <span class="text-right">6 - 7 April 2024</span>
          </div>

          <div class="flex justify-between">
            <span class="text-app-blue">Time:</span>
            <span class="text-right">8:00AM - 6:00PM</span>
          </div>

          <div class="flex justify-between">
            <span class="text-app-blue">Venue:</span>
            <span class="text-right">Rakuten Asia, CapitaGreen</span>
          </div>
        </div>
      </div>
    </section>

    <section id="geekshacking" class="scroll-m-16 space-y-6 flex flex-col md:flex-row gap-10">
      <Image src={geekshacking} alt="GeeksHacking" class="min-w-[300px] w-[400px] mx-auto object-contain" />

      <div class="space-y-6">
        <div class="border-l-8 border-solid border-l-app-red pl-6">
          <h2 class="text-4xl md:text-4xl text-app-purple font-code font-bold">GeeksHacking</h2>
        </div>

        <p class="font-code">
          GeeksHacking is a geeky community that seeks to Give back and Grow together. We organize events and workshops to help students and professionals alike to learn and grow together. HackOMania
          is one of our flagship events that we organize annually.
        </p>
      </div>
    </section>

    <section id="contact" class="scroll-m-16 space-y-6">
      <div class="border-l-8 border-solid border-l-app-red pl-6">
        <h2 class="text-4xl md:text-6xl text-app-purple font-code font-bold">Contact Us!</h2>
      </div>

      <p class="font-code">
        For general enquiries
        <br />
        <br />
        Drop us and email at <a class="text-app-red" href="mailto:contact@geekshacking.com">contact@geekshacking.com</a> or contact us through our <a class="text-app-red">Facebook page</a>.
        <br />
        <br />
        For Sponsorship
        <br />
        <br />
        Please contact <a class="text-app-red" href="mailto:sponsor@geekshacking.com">sponsor@geekshacking.com</a> for sponsorship enquiries.
      </p>
    </section>
  </main>
</Layout>
